<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>React App</title>
</head>

<body>
    <header class="header">
        <a class="profile-link" href="#">Profile</a>
        <nav class="navbar">
            <div class="interaction-links">
                <a class="navbar__item" href="./home.html">Home</a>
                <a class="navbar__item" href="#">Dashboard</a>
                <a class="navbar__item" href="./services.html">Services</a>
                <a class="navbar__item" href="./products.html">Products</a>
                <a class="navbar__item" href="#">Post Haircut</a>
            </div>
            
            <div class="user-links">
                <a class="navbar__item" href="./login.html">Login</a>
                <a class="navbar__item" href="./register.html">Register</a>
                <a id="userLogout" href="#">Logout</a>
            </div>

        </nav>

    </header>
    <main id="home">
        <div class="homeMsg">
            <div class="intro">
            <h1 class="color-white">Welcome to our Barber Shop</h1>
                <h3 class="color-white">We are #1 Barber Shop and this is possible because of our satisfied clients.</h3>
                <p></p>
            </div>
        </div>
       <!-- <h1>Hello</h1> -->
    </main>
    <script src="./app.js"></script>
</body>

</html>