<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>React App</title>
</head>

<body>
    <header class="header">
        <a class="profile-link" href="#">Profile</a>
        <nav class="navbar">
            <div class="interaction-links">
                <a class="navbar__item" href="./home.html">Home</a>
                <a class="navbar__item" href="#">Dashboard</a>
                <a class="navbar__item" href="#">Services</a>
                <a class="navbar__item" href="#">Products</a>
                <a class="navbar__item" href="#">Post Haircut</a>
            </div>

            <div class="user-links">
                <a class="navbar__item" href="./login.html">Login</a>
                <a class="navbar__item" href="./register.html">Register</a>
                <a id="userLogout" href="#">Logout</a>
            </div>

        </nav>

    </header>
    <main class="login">
        <div class="login-container">
            <form class="login-form" action="" method="POST">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="example@abv.bg">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password..">

                <input type="button" value="SIGN IN">
                <div class="existingAccount">
                    <a href="javascript:void(0)">Don't have an account?</a>
                    <a href="#" id="SignUp"> Sign Up</a>
                </div>
        </div>
        </form>
        </div>
    </main>
    <script src="./app.js"></script>
</body>

</html>