<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>React App</title>
</head>

<body>
    <header class="header">
        <a class="profile-link" href="#">Profile</a>
        <nav class="navbar">
            <div class="interaction-links">
                <a class="navbar__item" href="./home.html">Home</a>
                <a class="navbar__item" href="#">Dashboard</a>
                <a class="navbar__item" href="./services.html">Services</a>
                <a class="navbar__item" href="./products.html">Products</a>
                <a class="navbar__item" href="#">Post Haircut</a>
            </div>
            
            <div class="user-links">
                <a class="navbar__item" href="./login.html">Login</a>
                <a class="navbar__item" href="./register.html">Register</a>
                <a id="userLogout" href="#">Logout</a>
            </div>

        </nav>

    </header>
    <main class="products">
        <div class="productsParentContainer">
            <h2 id="productsHeading">Our Products:</h2>
            <div class="productChildContainer">
                <div class="productCard">
                    <img src="https://i00.eu/img/711/1024x1024/ex7ssuk0/16041.jpg" alt="Product Image"/>
                    <div class="cardDetails">
                        <div class="insideCard">
                            <p class="color-white">Matte Pomade</p>
                            <p><span class="color-white">Price: $5.99</span></p>
                        </div>
                        <a href="#" id="detailsBtn">Details</a>
                    </div>
                </div>
                <div class="productCard">
                    <img src="https://i00.eu/img/711/1024x1024/ex7ssuk0/16041.jpg" alt="Product Image"/>
                    <div class="cardDetails">
                        <div class="insideCard">
                            <p class="color-white">Matte Pomade</p>
                            <p><span class="color-white">Price: $5.99</span></p>
                        </div>
                        <a href="#" id="detailsBtn">Details</a>
                    </div>
                </div>
                <div class="productCard">
                    <img src="https://i00.eu/img/711/1024x1024/ex7ssuk0/16041.jpg" alt="Product Image"/>
                    <div class="cardDetails">
                        <div class="insideCard">
                            <p class="color-white">Matte Pomade</p>
                            <p><span class="color-white">Price: $5.99</span></p>
                        </div>
                        <a href="#" id="detailsBtn">Details</a>
                    </div>
                </div>
                <div class="productCard">
                    <img src="https://i00.eu/img/711/1024x1024/ex7ssuk0/16041.jpg" alt="Product Image"/>
                    <div class="cardDetails">
                        <div class="insideCard">
                            <p class="color-white">Matte Pomade</p>
                            <p><span class="color-white">Price: $5.99</span></p>
                        </div>
                        <a href="#" id="detailsBtn">Details</a>
                    </div>
                </div>
                <div class="productCard">
                    <img src="https://i00.eu/img/711/1024x1024/ex7ssuk0/16041.jpg" alt="Product Image"/>
                    <div class="cardDetails">
                        <div class="insideCard">
                            <p class="color-white">Matte Pomade</p>
                            <p><span class="color-white">Price: $5.99</span></p>
                        </div>
                        <a href="#" id="detailsBtn">Details</a>
                    </div>
                </div>
                <div class="productCard">
                    <img src="https://i00.eu/img/711/1024x1024/ex7ssuk0/16041.jpg" alt="Product Image"/>
                    <div class="cardDetails">
                        <div class="insideCard">
                            <p class="color-white">Matte Pomade</p>
                            <p><span class="color-white">Price: $5.99</span></p>
                        </div>
                        <a href="#" id="detailsBtn">Details</a>
                    </div>
                </div>
                <div class="productCard">
                    <img src="https://i00.eu/img/711/1024x1024/ex7ssuk0/16041.jpg" alt="Product Image"/>
                    <div class="cardDetails">
                        <div class="insideCard">
                            <p class="color-white">Matte Pomade</p>
                            <p><span class="color-white">Price: $5.99</span></p>
                        </div>
                        <a href="#" id="detailsBtn">Details</a>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer style="background-color: black; font-size: 15px; color: #fff; display: flex; align-items: center; justify-content: center;">All rights reserved. &copy</footer>
    <script src="./app.js"></script>
</body>

</html>